body{
	font-family:"微软雅黑";
	background-color:#ddd;
	padding:0;
	margin:0;
}
/*body等一些元素有默认的margin值，body的margin会让页面元素与浏览器边框之间产生空隙*/
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.nav{
	width: 100%;
	height: 60px;
	margin:0;
	background:#333;
	overflow:hidden;
}
.nav #logo{
	height:40px;
	margin:10px 0px 10px 20px;
	float:left;
}
.nav #navlist{
	height:20px;
	float:right;
	margin:20px 20px 20px 0px;
}
.nav #navlist ul{
	margin:0;
}
.nav ul li{
	display: inline-block;
	margin-left:10px;
}
.nav ul li a{
	font-size:14px;
	color:#fff;
}

.container{
	margin:15px;
}
.article{
	padding:10px;
	background-color:#fff;
	box-shadow: 2px 2px 2px 2px #aaa;
	margin-bottom:10px;
}
.article h3{
	color:#555;
}
.article h4{
	color:#888;
}
#pictures li{
	display:block;
	border:1px solid #888;
	padding:5px;
	margin-bottom: 10px;
	width: 384px;
}
#pictures li p{
	text-align: center;
}
table{
	border:1px solid #000;
	width:100%;
	border-spacing:0px;
}
td{
	border:1px solid #555;
	margin:0px;
}
thead td{
	color:#fff;
	background-color:#333;
}
tfoot td{
	background-color:#666;
}
#aside h2{
	border-left: 3px solid #666;
	padding-left:10px;
}
.form_group{
	width:400px;
	margin:0px auto;
}
.form_group p{
	display:inline-block;
}
#email{
	width:100%;
}
#email label{
	
	float:right;
	text-align:right;
}
#email input{
	
	float:right;
}
#genders,#habit{
	display:inline-block;
}
#submit{
	width: 100%;
	border-radius: 5px;
	height: 30px;
	color:#fff;
	background-color: #2196F3;
	margin-top:20px;
}
.footer{
	height: 50px;
	color:#fff;
	background-color: #000;
}
.footer p{
	line-height: 50px;
	text-align: center;
}