.zero{
	border:5px solid blue;
}
.box{
	
}
#one{
	float:left;
	background-color:red;
	border:1px solid #000;
	width:600px;
}
#one p{
	display:inline;
	background-color:white;
}
#two{
	background-color:green;
	border:1px solid white; 
}
#three{
	background-color:yellow;
	border:1px solid #000;
}